.card {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  border-radius: 20px;
  margin-bottom: 40px;
}

.img {
  position: relative;
  width: 100%;
  max-height: 239px;
  /* border: 1px solid red; */
  user-select: none;
  border-radius: 20px;
  margin-bottom: 24px;
}
.post_img {
  pointer-events: none;
  border-radius: 20px;
}
.post_details {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.date {
  /* text-transform: uppercase; */
  color: #f3809f;
  font-size: 14px;
  font-weight: 500;
}

.tag_container {
  display: flex;
  margin-top: 7px;
  font-size: 13px;
}
.tag {
  margin-right: 9px;
  text-transform: capitalize;
}
.pd_top {
  display: flex;
  justify-content: space-between;
}
.read_time {
  color: var(--grey-30);
  font-size: 14px;
  line-height: 145.34%;
  /* or 20px */
  font-weight: sfLight sans-serif;
  letter-spacing: -0.025em;
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .card[data-type="recommended"] div[data-title] {
    -webkit-line-clamp: unset;
    line-clamp: unset;
    overflow-y: hidden;
    text-overflow: ellipsis;
    max-height: 210px;
  }
}
@media screen and (min-width: 700px) {
  .card {
    flex-basis: calc(50% - 20px);
    margin: unset;
  }
}

@media screen and (min-width: 800px) and (max-width: 1023px) {
  .img {
    height: 230px !important;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    flex-basis: calc(100% / 3 - 35px);
    margin-bottom: 35px;
  }
  .img {
    height: 284px !important;
  }
}
