.avatar {
  display: flex;

  overflow: hidden;
}
.name {
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: -0.045em;

  color: #ffffff;
  margin-bottom: 8px;
}

.avatar_img {
  height: 32px;
  width: 32px;
  position: relative;
  margin-right: 1em;
  background-color: #efefef;
  border-radius: 100px;
  flex-shrink: 0;
}
.date {
  font-size: 12px;
  line-height: 145.34%;
  /* or 23px */

  letter-spacing: -0.025em;
  color: var(--grey-30);
  font-family: sfLight, sans-serif;
}
.comment {
  font-size: 14px;
  line-height: 208.5%;
  color: var(--grey-10);
  font-family: sfLight, sans-serif;
}
.comment_main {
  padding: 20px 0;
}
.comment_main:last-child {
  margin-bottom: 40px;
}
