.container a {
  color: #e25f81;
}
.container .title {
  font-weight: 500;
  font-size: 28px;
  margin: 1.4em 0;
  line-height: 34px;
}
.desc {
  font-size: 19px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #61427a;
}
.img_con {
  position: relative;
  height: 183px;
  margin-top: 30px;
}
.img {
  border-radius: 55px !important;
  object-position: top !important;
}
.container {
  padding: 30px 14.7px;
}
.top {
  display: flex;
  gap: 0.5em;
  color: #a93655;
}
.tag_container {
  display: flex;
  gap: 0.5em;
}
.tag {
  text-transform: capitalize;
}
.post_content p {
  color: #1e0e00;
}
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  color: #281451;
}
.container img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
}
